article.AssignGroup{
  margin:0.5rem;
  padding:1rem;
  border-radius: var(--radius);
  min-width:300px;
  box-shadow: var(--box-shadow);
}

.AssignGroup h3 {
  border-radius: var(--radius);
  padding:1rem;
  text-shadow: var(--text-shadow);
  display: flex;;
  justify-content: space-between;
}

.un.AssignGroup h3{
  text-shadow: none;
  box-shadow: var(--box-shadow);
}