.ElementDropdown {
  background-color: white;
}

.ElementDropdown div {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.ElementDropdown:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.1)
}

.ElementDropdown ul li {
  background-color: white;
}
.ElementDropdown ul li:hover{
  background-color: green
}
