
.ElementButton {
  display: flex;
  border: 2px solid black;
  margin: 2px;
  padding: 10px;
  justify-content: space-between;
}
.ElementList ul {
  padding-inline-start: 0;
}
.ElementButton > div {
  flex-grow: 1;
}