.ElementDropdown {
  margin: 0.5rem;
}

.ElementDropdownHeader {
  text-align: left;
  border: 2px solid black;
  border-radius: var(--radius);
  padding: 0 1rem;
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ElementDropdown header:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.ElementDropdown ul {
  max-height: 33vh;
  overflow-y: scroll;
}
