.SkaterButton {
  margin: 0.25rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 0.25rem;
}
.SkaterButton:hover {
  cursor: pointer;
  transform: scale(1.01);
  background-color: var(--green-lighter);
}
