.BadgeSection{
  width: 400px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}


.BadgeSectionHeader{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
}

.ribbonHeader {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
}

.badgeCircle {
  border: 2px solid black;
  color:white;
  font-size: 1.5rem;
  font-weight: bolder;
  margin:1rem;
  border-radius: 50%;
  width:3rem;
  height:3rem;
  display:flex;
  justify-content:center;
  align-items:center;
}