.notification-wrapper {
  position: fixed;
  bottom: 3em;
  left: 0;
  right: 0;
  z-index: 5
}

.notification-item {
  width: fit-content;
  margin-top: 1rem;
  margin-left:auto;
  margin-right:auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}

.blur .notification-item{
  filter: blur(1px) saturate(25%)
}

.notification-item p {
  width: fit-content;
  padding: 0.5rem;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 800;
}

.notification-item.success {
  background-color: var(--green-light);
}

.notification-item.balance {
  background-color: var(--green);
}

.notification-item.control {
  color: white;
  background-color: var(--red);
}

.notification-item.agility {
  color: white;
  background-color: var(--blue);
}

.notification-item.error {
  color: white;
  background-color: var(--red);
}

