.notification-wrapper {
  position: fixed;
  bottom: 3em;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5
}

.notification-item {
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}

.blur .notification-item{
  filter: blur(1px) saturate(25%)
}

.notification-item p {
  padding: 0.5rem;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 800;
}

.notification-item.success {
  background-color: var(--green-light);
}

.notification-item.balance {
  background-color: var(--green);
}

.notification-item.control {
  color: white;
  background-color: var(--red);
}

.notification-item.agility {
  color: white;
  background-color: var(--blue);
}

.notification-item.error {
  color: white;
  background-color: var(--red-light);
}

.fade-enter {
  transform: translateY(30px);
  opacity: 0;
}
.fade-enter-active {
  transform: translateY(0px);
  opacity:1;
  transition: 200ms;
}

.fade-exit {
  transform: translateY(0px);
  opacity:1;
}

.fade-exit-active {
  transform: translateY(-30px);
  opacity: 0;
  transition: 200ms;
}
