.SideNav {
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100vh;
  width: min(213px, 66vw);
  border: 2px solid black;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  transition: left 100ms ease;
}

.SideNav.closed {
  left: calc(0px - min(213px, 66vw));
  box-shadow: none;
}

.SideNav ul {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0;
  padding-inline-start: 0;
  padding: 1rem 0;
  list-style: none;
  height: 100%;
}

.SideNav ul li {
  padding: 0.5rem;
}

.SideNav a {
  padding: 0.5rem;
}

.SideNav li button {
  font-size: 1rem;
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
  border-radius: var(--radius);
  border-style: none;
  width: 100%;
}

#bottom-links {
  padding: 0;
}

.SideNav li button:hover {
  cursor: pointer;
  transform: scale(1.01);
}

/* position logout and club change at the bottom of the sidenav */
.SideNav ul li:last-child {
  margin-top: auto;
}
