.SideNav {
  box-sizing: border-box;
  background-color:white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  min-width: 20vw;
  max-width: 37vw;
  border: 2px solid black;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  transition: left 200ms ease;
}

.SideNav.closed {
  left: -40vw;
  box-shadow: none;
}

.SideNav ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  margin-bottom: 0;
  list-style: none;
  height: 90%;
}

.SideNav ul li {
  padding: 0.5rem;
}

.SideNav li button {
  font-size: 1rem;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: var(--radius);
  border-style: none;
  width: 100%;
}

.SideNav li button:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.SideNav ul li:last-child {
  margin-top: auto;
  /* hide logout button for now */
}
