.ReportCardElement {
  display: grid;
  min-height: 50px;
  grid-template-columns: 2fr 1fr;
}

.Balance .ReportCardElement.complete {
  background-color: var(--green-light);
}

.Control .ReportCardElement.complete {
  background-color: var(--red-light);
}

.Agility .ReportCardElement.complete {
  background-color: var(--blue-light)
}

.ReportCardElement span{
  display:flex;
  align-items: center;
  justify-content: center;
}
