.ReportCardBadge{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 4px;
  width: 95%;
  margin: auto;
  border: 2px solid black;
}
.ReportCardBadge.one.complete {
  background-color: var(--badge-one)
}

.ReportCardBadge.two.complete{
  background-color: var(--badge-two)
}

.ReportCardBadge.three.complete{
  background-color: var(--badge-three)
}

.ReportCardBadge.four.complete {
  background-color: var(--badge-four)
}

.ReportCardBadge.five.complete {
  background-color: var(--badge-five)
}

.ReportCardBadge.six.complete {
  background-color: var(--badge-six)
}