.filterOptions{
  background-color: white;
}

.filterOptions ul {
  margin: 0;
  display: flex;
  list-style: none;
  padding-inline-start: 0;
}
.filterOptions ul li {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: 1px solid black;
  text-align: center;
}

.filterOptions ul.badgeOption li{
  padding: .25rem;
}
.filterOptions .badgeCircle {
  margin: 0;
}
.filterOptions ul:first-child li {
  border-top: none;
}

.filterOptions .badgeCircle {
  color: black
}

.filterOptions .active .badgeCircle {
  color: white;
}

.filterOptions .one.active .badgeCircle {
  background-color: var(--badge-one);
  font-weight: bold;
}
.filterOptions .two.active .badgeCircle{
  background-color: var(--badge-two);
  font-weight: bold;
}
.filterOptions .three.active .badgeCircle{
  background-color: var(--badge-three);
  font-weight: bold;
}

.filterOptions .four.active .badgeCircle{
  background-color: var(--badge-four);
  font-weight: bold;
}
.filterOptions .five.active .badgeCircle{
  background-color: var(--badge-five);
  font-weight: bold;
}
.filterOptions .six.active .badgeCircle{
  background-color: var(--badge-six);
  font-weight: bold;
}

.filterOptions .balance{
  background-color: var(--green-light);
  font-weight: bold;
}
.filterOptions .control{
  background-color: var(--red);
  font-weight: bold;
}
.filterOptions .agility{
  background-color: var(--blue-light);
  font-weight: bold;
}
.filterOptions ul li:hover{
  filter: brightness(125%);
  cursor: pointer;
}
