
.Eval {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.groupHeader {
  display: inline-block;
  color: white;
  padding: .5rem .75rem;
  border-radius: var(--radius);
  margin-top: .5rem;
}