.Eval {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.groupHeader {
  display: inline-block;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius);
  margin-top: 0.5rem;
}
