.ElementButton {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border: 2px solid black;
  min-height: 3rem;
  border-radius: var(--radius);
  margin: 0.5rem;
  justify-content: space-between;
  overflow: hidden;
  text-align: left;
}

.ElementButton:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.ElementButton button {
  height: 3rem;
  background-color: var(--green-light);
  font-size: 2rem;
  border-style: none;
  width: 3rem;
  transition: transform 75ms ease;
  transform: translate(3rem);
}

.ElementButton:hover button {
  transform: translate(0);
}
