.Distribution {
  width: min(95%, 800px);
  margin: auto;
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
}

.DistributionList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  text-align: left;
}
/* Align first row to end */
.DistributionList > *:nth-child(-n + 4) {
  align-self: end;
}

.DistributionList > span {
  display: flex;
  align-items: center;
}
