.DistributionItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: .25rem;
  gap:10px;
  text-align: left;
}
.DistributionItem:first-child{
  align-items: end;
  padding-bottom: .5rem;
  font-weight:bold;
  margin-bottom: .5rem;
}