.App {
  text-align: center;
}


a, button.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: .5rem;
  border-radius: var(--radius);
}

.links li{
  padding: .5rem;
}

a, button.link{
  color: rgb(44, 44, 44);
  box-shadow: var(--box-shadow);
  margin: auto;
  padding: 1rem;
  display: block;
  max-width: 300px;
}

button.link{
  font-size: 1rem;
  border: none;
  margin: 1rem auto;
}

a:hover,button.link:hover{
  transform: scale(1.015)
}

a:active, button.link:active {
  transform: scale(1);
  background-color: rgba(0,0,0,0.1);
}

