.FilterContainer >  *{
  width:100%;
  position:fixed;
  top: var(--header-offset);
  z-index:1;
}
.blur .FilterContainer > * > *{
  filter: blur(1px) saturate(25%)
}
.FilterContainer > .slide-enter {
  top: -22px
}

.FilterContainer > .slide-enter-active {
  top: var(--header-offset);
  transition: top calc(var(--time) / 2) linear;
}

.FilterContainer > .slide-exit {
  top: var(--header-offset);
}

.FilterContainer > .slide-exit-active {
  top: -22px;
  transition: top calc(var(--time) / 2) linear;
}
