.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  background-color: white;
  z-index: 1;
}

.Header > header {
  border: 2px solid black;
  overflow: hidden;
  min-height: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  z-index: 2;
  background-color: white;
}

.blur .Header > header {
  filter: blur(1px);
}

.Header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header .filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header .filter h4 {
  margin: 0;
}
.Header h2 {
  margin: auto;
}
.Header .menu:hover,
.Header .filter:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
