:root{
  --header-height: 54px;
}

.Header {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  min-height: 40px;
}

header {
  min-height: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  z-index: 2;
  border:2px solid black;
  background-color: white;
}


.Header + * {
  margin-top: var(--header-height);
}
.Header .filter{
  display:flex;
  flex-direction:column;
  justify-content: center;
}
.Header .menu {
  display:flex;
  justify-content: center;
  align-items: center;
}
.Header .filter h4{
  margin: 0;
}
.Header h2 {
  margin:auto;
}
.Header .menu:hover, .Header .filter:hover{
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

