@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --red: hsl(351, 85%, 43%);
  --red-light: hsl(351, 70%, 65%);
  --blue: hsl(223, 68%, 35%);
  --blue-light: hsl(223, 68%, 60%);
  --green: hsl(94, 50%, 51%);
  --green-light: hsl(94, 50%, 65%);
  --green-lighter: hsl(94, 50%, 75%);
  --yellow: hsl(53, 63%, 47%);
  --orange: orange;
  --purple: hsl(274, 27%, 44%);
  --turquoise: rgb(16, 172, 172);

  --badge-one: hsl(196, 52%, 56%);
  --badge-two: hsl(0, 83%, 56%);
  --badge-three: hsl(274, 27%, 44%);
  --badge-four: hsl(53, 63%, 47%);
  --badge-five: hsl(205, 100%, 35%);
  --badge-six: hsl(74, 100%, 15%);

  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.72);

  --header-offset: 50px;
  --filter-offset: 0px;
  --time: 200ms;
  --radius: 5px;

  --Balance: var(--green);
  --Control: var(--red);
  --Agility: var(--blue);

  --header-color: var(--blue-light);

}

/* scrollbar fix */
html {
  margin-left: calc(100vw - 100%);
}

body {
  margin: 0;
  font-family: Heebo, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 1.9rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2.heading,
h3.heading,
h5.heading {
  width: min(400px, 95%);
  background-color: var(--header-color);
  padding: 1rem;
  border-radius: var(--radius);
  margin: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.65);
}

.heading.error {
  background-color: var(--red-light);
}

h5,
h5.heading {
  padding: 0.5rem;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

form {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 600px;
  border-radius: var(--radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form input,
form select {
  margin: 0.25rem auto;
}

form input[type="submit"],
button.cancel {
  font-size: 1rem;
  margin: auto 0.5rem;
  box-shadow: var(--box-shadow);
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  border-radius: var(--radius);
  border: none;
  padding: 0.25rem 0.5rem;
}

/* prevent sticky hover on mobile */
@media (hover: hover) {
  form input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: var(--green-lighter);
  }

  button:hover {
    cursor: pointer;
  }

  button.cancel:hover {
    transform: scale(1.02);
    background-color: lightgrey;
  }
}

form input[type="submit"]:active {
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.2);
}

form .error-icon {
  padding-left: 1rem;
}

form h2 {
  margin-bottom: 1rem;
}
