.blur .Main {
 filter: saturate(25%) blur(1px);
}

.Main {
  margin-top: calc(var(--header-offset) + var(--filter-offset) + 16px);

}

.filter .Main {
  transition: margin calc(var(--time) / 2) linear;
}