.SideNav {
  box-sizing: border-box;
  position: fixed;
  top:0;
  left: 0;
  z-index: 2;
  height: 100vh;
  min-width: 20vw;
  max-width: 37vw;
  border: 2px solid black;
  box-shadow: 2px 0 10px rgba(0,0,0,0.5);
  transition: left 200ms ease;
  background: white;
}

.SideNav.closed {
  left: -40vw;
  box-shadow: none;
}

.SideNav ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  list-style: none;
  height: 90%;
}

.SideNav ul li {
  padding: .5rem;
}
.SideNav ul li:last-child{
  margin-top: auto;
  /* hide logout button for now */
  display: none;
}
