.SideNav {
  box-sizing: border-box;
  position: fixed;
  top:0;
  left: 0;
  z-index: 3;
  height: 100vh;
  min-width: 25vw;
  max-width: 33vw;
  border: 2px solid black;
  transition: 200ms ease;
  background: white;
}

.SideNav.closed {
  left: -33vw;
}

.SideNav ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  list-style: none;
  height: 90%;
}

.SideNav ul li {
  padding: .5rem;
}
.SideNav ul li:last-child{
  margin-top: auto;
}

/* @media screen and (max-width: 500px) {
.SideNav{
  width: 33vw;
}
} */