.field {
  margin: auto;
  width: calc(300px * 0.8);
  position: relative;
  border-bottom: 2px dashed;
  border-color: black;
  margin: 1.5rem auto 1rem;
  transition: 0.5s ease;
}

.field input {
  display: inline-block;
  font-size: 1.2rem;
  height: 2rem;
  width: 100%;
  outline: none;
  border: none;
}
.field label {
  cursor: text;
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  transform-origin: 0%;
  transform: translateY(0.7rem);
  transition: transform 400ms;
}
.field:focus-within label,
.field .scale {
  transform: scale(0.8) translateY(-1.5rem);
}

.scale {
  transform: scale(0.8) translateY(-1.5rem);
}

.field::after {
  content: "";
  position: relative;
  display: block;
  height: 4px;
  top: 2px;
  width: 100%;
  background: black;
  transform: scaleX(0);
  transform-origin: 0%;
  transition: transform 0.5s ease;
}

.field:focus-within {
  border-color: transparent;
}

.field:focus-within:after {
  transform: scaleX(1);
}
