.ClubList li {
  color: rgb(44, 44, 44);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
  margin: 0.5rem auto;
  padding: 1rem;
  display: block;
  max-width: 300px;
}

.ClubList li:hover {
  cursor: pointer;
  transform: scale(1.01);
}
